body{
font-family:Arial;
background:#f2f2f2;
margin:0
}

.title{
text-align:center;
color:red
}

nav{
background:#003366;
text-align:center;
padding:15px
}

nav button{
padding:10px;
margin:5px;
background:#0066cc;
color:white;
border:none;
border-radius:5px
}

nav button:hover{
background:#004080
}

section{
margin:20px;
padding:20px;
background:white;
border-radius:10px
}

.event-section{
background:url("AdobeStock_837349288_Preview.jpeg");
background-size:cover;
color:white
}

input,select{
padding:8px;
margin:5px;
width:90%
}

footer{
text-align:center;
background:#003366;
color:white;
padding:10px
}

table{
width:100%;
border-collapse:collapse
}

th,td{
border:1px solid #ccc;
padding:8px;
text-align:center
}
